<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="azure.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="StaticContent">
					<action type="Rewrite" url="azure.js" />
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="azure.js" />
				</rule>
			</rules>
		</rewrite>
		<iisnode
            loggingEnabled="true"
            logDirectory="DHTMLPlus-Logs"
            debuggingEnabled="true"
            devErrorsEnabled="true"
            configOverrides="iisnode.yml"
		/>
		<trace enabled="true" writeToDiagnosticsTrace="true" localOnly="false" mostRecent="true" pageOutput="false" />
	</system.webServer>
</configuration>
